@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.bg-custom-gradient {
  background-image: linear-gradient(
    to bottom right,
    #c9def4 20%,
    #f5ccd4 40%,
    #b8a4c9
  );
}

.sidebar-bg-color {
  background-color: #fefefa;
}
